html,body
{
    scroll-behavior: smooth;
}
body
{
    padding-top: 100px;
    font-family: 'Source Sans Pro', sans-serif;

}
.navbar-toggler
{
    padding: 0;
    border: none;
    background: none;
}
.navbar-light
{
    border: none;
    
}
.logo
{
    width: 50px;
    height: 50px;
}
.navbar-brand
{
    padding: 0px;
}
.navbar-brand
{
    margin: 0px;
    padding: 0px;
    display: inline;
}
.navbar-padding
{
    padding: 20px 300px 0px 300px;
}
.nav-link
{
    font-size: 14px;
    font-weight: 500;
    color: black;
    font-weight: bold;

}
.navbar-light
{
    color: black;
}
.nav-item
{
    padding: 0px 10px 0px 10px;
    color: black;
}
.nav-link:hover
{
    color: #de0f66;
    transition: 0.3s;
}
.hero
{
    width: 400px;
}
.main_body
{
    font-size: 40px;
    font-weight: 600;
}
.main_heading
{
    font-size: 22px;
}
.main_heading_span
{
    color: #de0f66;
}
.bg-light
{
    background-color: #ffffff !important;
}
.main_hero
{
    padding: 200px 0px 0px 0px;
}